.card-title {
  font-size: 1rem;
  height: 100px;
  overflow: auto;
  border-bottom: 5px solid lightgrey;
}
.card-title::-webkit-scrollbar {
  display: none;
}
.source {
  display: flex;
  justify-content: space-between;
}
.source p {
  font-size: 0.7rem;
}
.card-text {
  height: 200px;
}
@media only screen and(min-width:992px) and (max-width: 1200px) {
  .card-title {
    height: 100px;
  }
  .card-text {
    height: 130px;
  }
}
@media only screen and(min-width:768px) and (max-width: 991px) {
  .card-title {
    height: 90px;
  }
  .card-text {
    height: 130px;
  }
}
@media only screen and(min-width:576px) and (max-width: 767px) {
  .card-title {
    height: 90px;
  }
  .card-text {
    height: 120px;
  }
}
@media only screen and(min-width:0px) and (max-width: 575px) {
  .card-title {
    height: 60px;
  }
  .card-text {
    height: 100px;
  }
}
